<footer class="footer">
    <div class="footer-main">
        <figure class="footer-brand">
            <img class="logo" src="{{uiRootPath}}/img/logo.svg" alt="Miterra">
            <figcaption class="footer-brand-name">Miterra</figcaption>
        </figure>
        <p></p>
    </div>
    <div class="footer-legal">
        <p>Copyright © {{{year}}} Wageningen Environmental Research and individual contributors.<br>
            Except where otherwise noted, Wageningen Environmental Research retains the rights to the content presented herein,<br>
            including, but not limited to, texts, graphic materials, mathematical formulae, and program codes.</p>
        <p>This documentation is provided for reference only. Content is subject to change without notice.</p>
        <p class="small hide-for-print">The UI for this website is derived from the
            <a href="https://gitlab.com/antora/antora-ui-default" target="_blank" rel="noopener">Antora Default UI</a>,
            <a href="https://github.com/asciidoctor/asciidoctor-docs-ui" target="_blank" rel="noopener">Asciidoctor Docs UI</a>, and
            <a href="https://github.com/Normation/rudder-doc" target="_blank" rel="noopener">Rudder Documentation</a>, and is licensed under the MPL-2.0 or CC BY-SA 2.0 licence.<br>
            Several icons are imported from <a href="https://primer.style/octicons/" target="_blank" rel="noopener">Octicons</a> and are licensed under the MIT licence.</p>
    </div>
    <div class="footer-thanks">
        <a href="https://www.wur.nl/en" target="_blank" rel="noopener"><img class="logo" src="{{uiRootPath}}/img/wur-logo.svg" alt="Wageningen University & Research"></a>
    </div>
</footer>
