@page {
  size: A4;
  margin: 1.5cm 1.2cm 1.5cm 1.2cm;
  padding: 0;
}

@media print {
  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: block !important;
  }

  html {
    font-size: var(--body-font-size--print);
  }

  /*
  a {
    color: inherit !important;
    text-decoration: underline;
  }

  a.bare,
  a[href^="#"],
  a[href^="mailto:"] {
    text-decoration: none;
  }

  a.plain {
    text-decoration: none;
  }
  */

  div#toc ul a {
    color: inherit !important;
  }

  tr,
  img,
  object,
  svg {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  pre {
    hyphens: none;
    white-space: pre-wrap;
  }

  body {
    padding-top: 2rem;
  }

  .navbar {
    background: none;
    color: inherit;
    position: absolute;
  }

  .navbar * {
    color: inherit !important;
  }

  .navbar > :not(.navbar-brand),
  .nav-container,
  .toolbar,
  aside.toc,
  nav.pagination,
  .footer > :not(.footer-legal) {
    display: none;
  }

  .doc {
    color: inherit;
    margin: auto;
    max-width: none;
    padding-bottom: 2rem;
  }

  /*
  .doc * {
    box-shadow: none !important;
  }
  */

  h1 {
    font-size: 1.75em !important;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.9em;
    font-style: italic;
  }

  h6 {
    font-size: 0.9em;
    font-style: italic;
  }

  .doc h1.sect0 {
    break-before: page;
  }

  .doc .exampleblock .title {
    break-after: avoid;
  }

  .doc .admonitionblock td.icon {
    print-color-adjust: exact; /* stylelint-disable-line */
  }

  #citation-box .clipicon {
    display: none;
  }

  .doc .listingblock code[data-lang]::before {
    display: block;
  }

  .doc p {
    widows: 2;
    orphans: 2;
  }

  .doc code span.line {
    widows: 2;
    orphans: 2;
  }

  footer.footer {
    background: none;
    border-top: 1px solid var(--panel-border-color);
    color: var(--quote-attribution-font-color);
    padding: 0.75rem 0.5rem 0;
  }

  .footer-legal {
    margin-top: 0;
    text-align: left;
  }

  .footer * {
    color: inherit;
  }
}

